{% extends '_base.html' %} {% block styles %}
<link rel="stylesheet" href="/static/source/pages/delivery/index.css" />
{% endblock styles %} {% block content %}
<section class="delivery">
  <a class="go-back-btn delivery__go-back-btn" href="{{prev_url}}">Вернутися</a>
  <div class="delivery__center">
    <h2 class="title delivery__title">Доставка, Оплата, Повернення, ПУБЛІЧНИЙ ДОГОВІР</h2>
    <div class="delivery__items">
      <div class="delivery__item">
        <h4 class="title delivery__item-title">
          <img
            src="/static/source/img/delivery/package-box.svg"
            alt="delivery"
          />
          Доставка
        </h4>
        <p class="delivery__item-text">
          Новою Поштою, Meest в будь-який куточок України 1-3 дні.
        </p>
      </div>
      <div class="delivery__item">
        <h4 class="title delivery__item-title">
          <img
            src="/static/source/img/delivery/credit-card.svg"
            alt="payment"
          />
          Оплата
        </h4>
        <p class="delivery__item-text">
          Банківською картою VISA або Master Card на нашому сайті або при
          отриманні замовлення накладеним платежем.<br />
          Постачальник:        ТОВ "ВИМПЕЛГРУП"        "п/р UA653052990000026006011025208 у банку АТ КБ "ПриватБанк",
          код за ЄДРПОУ 3866404120,
        </p>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">
          <img
            src="/static/source/img/delivery/high-quality.svg"
            alt="high-quality"
          />
          Перевірка якості
        </h4>
        <p class="delivery__item-text">
          Отримуючи товар на пошті, ви маєте право перш ніж оплачувати
          замовлення, приміряти, подивитися і оцінити наскільки якість
          замовленої продукції влаштовує вас. Чи підходить вам розмір і фасон,
          чи відповідає вашому очікуванню.
        </p>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">
          <img src="/static/source/img/delivery/back.svg" alt="back" />
          Повернення / Обмін товару
        </h4>
        <p class="delivery__item-text">
          Якщо вам не підійшов розмір, колір, або ж ви виявили інші проблеми,
          впродовж 14 днів після покупки, ви можете повернути нам товар або
          обміняти на інший.Потрібно подзвонити на сайт за одним з цих номерів:
          <a href="tel:0322474748">032-247-47-48</a>,
          <a href="tel:0670100180">0-670-100-180</a> і в телефонному режимі ми
          оформимо обмін або повернення товару.Доставка оплачується покупцем, у
          разі повернення або обміну товару. Повернення коштів відбувається
          протягом 1-3 робочих днів після отримання нами товару, що повертається
          від вас на склад Нової Пошти. У разі виявлення браку виробництва,
          доставку оплачуємо ми.
        </p>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">Умови повернення / обміну</h4>
        <ul class="delivery__item-list delivery__item-text">
          <li>відсутність ознак використання товару;</li>
          <li>наявність ярликів;</li>
          <li>річ повинна мати товарний вигляд.</li>
        </ul>
        <p class="delivery__item-text">
          У разі виявлення ознак використання товару, ми залишаємо за собою
          право на відмову у поверненні коштів.
        </p>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">Політика конфіденційності</h4>
        <p class="delivery__item-text">
          Інтернет-магазин взуття "Dunlop" докладає всіх зусиль для того, щоб
          Ваша особиста інформація зберігалася в таємниці. Ми не збираємо
          особисту інформацію про Вас, коли Ви заходите на наш сайт. Єдина
          особиста інформація про Вас, яку ми отримуємо, це ті дані, які Ви
          добровільно надаєте при заповненні форм.
        </p>
        <p class="delivery__item-text">
          При реєстрації на сайті інтернет-магазину "Dunlop" у Вас запитується
          така персональна інформація, як ім'я та прізвище, адреса електронної
          пошти, номер телефону, адресу доставки і т п.
        </p>
        <p class="delivery__item-text">
          Надання такої інформації у відповідь на запит здійснюється Вами
          виключно добровільно. Надана Вами інформація використовується
          інтернет-магазином тільки для обробки замовлень або для надання
          відвідувачу доступу до спеціальної інформації.
        </p>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">Договір публічної оферти</h4>
        <p class="delivery__item-text">
          ФІЗИЧНА ОСОБА-ПІДПРИЄМЕЦЬ ГРЕЧКО ВІКТОРІЯ ДМИТРІВНА (надалі –
          Продавець), з однієї сторони та будь-яка фізична або юридична особа,
          яка прийняла (акцептувала) умови цього Договору публічної оферти
          (надалі – Покупець), з іншої сторони, (надалі разом Сторони), уклали
          цей Публічний договір (надалі Договір) про наступне:
        </p>

        <h5 class="delivery__item-text title">1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h5>
        <p class="delivery__item-text">
          1.1. Цей Договір є публічним договором, відповідно до
          <a
            href="https://zakon.rada.gov.ua/laws/show/435-15#n3141"
            target="_blank"
          >
            <i>ст. ст. 633, 641 Цивільного кодексу України</i>
          </a>
          Умови цього Договору є одинакові для всіх Покупців, незалежно від
          статусу (фізична особа, юридична особа, фізична особа - підприємець),
          а беззастережне прийняття умов цього Договору вважаються акцептуванням
          цієї оферти Покупцем.
        </p>
        <p class="delivery__item-text">
          1.2. Договір адресований необмеженому колу осіб, та є офіційною
          публічною пропозицією Продавця укласти з Покупцями договір
          купівлі-продажу товарів, асортимент та детальна інформація про які
          міститься на сайті
          <a href="https://mydunlop.com.ua" target="_blank"
            >https://mydunlop.com.ua</a
          >
          (надалі Сайт). Покупці, при придбанні Товарів, розміщених на Сайті,
          приймають умови цього Договору без жодних застережень чи змін.
        </p>
        <p class="delivery__item-text">
          1.3. При повній згоді з умовами цього Договору, Покупець приймає умови
          та порядок оформлення замовлення, оплати та доставки товару Продавцем,
          відповідальності за невиконання умов цього Договору.
        </p>

        <h5 class="delivery__item-text title">
          2. ОСНОВНІ ПОНЯТТЯ ТА ВИЗНАЧЕННЯ ТЕРМІНІВ
        </h5>
        <ul class="delivery__item-list delivery__item-text">
          <li>
            Публічний договір – цей правочин про купівлю-продаж товарів, який
            встановлює однакові для всіх Покупців умови придбання товарів.
          </li>
          <li>
            Публічна оферта – пропозиція Продавця, адресована будь-якій особі
            відповідно до статті 641 Цивільного кодексу України, укласти з ним
            договір, що міститься в публічній оферті.
          </li>
          <li>
            Акцепт – прийняття Покупцем пропозиції Продавця щодо придбання
            Товару, асортимент та детальна інформація про який міститься на
            Сайті, шляхом відправлення Замовлення.
          </li>
          <li>
            Замовлення – належно оформлена заявка Покупця на купівлю Товарів, що
            адресується Продавцю.
          </li>
          <li>
            Покупець – будь-яка дієздатна фізична, юридична особа, фізична
            особа-підприємець, що відвідали Сайт та мають намір придбати той чи
            інший Товар.
          </li>
          <li>Продавець – <b>ФОП «ГРЕЧКО В.Д.».</b></li>
          <li>
            Сайт — веб-сайт Продавця в мережі Інтернет, що розміщений за
            адресою:
            <a href="https://mydunlop.com.ua/" target="_blank">
              https://mydunlop.com.ua/
            </a>
          </li>
          <li>
            Товар – товари, які пропонуються до продажу, відповідно до
            асортименту та цін, зазначених на Сайті.
          </li>
        </ul>

        <h5 class="delivery__item-text title">3. АКЦЕПТУВАННЯ ДОГОВОРУ</h5>
        <p class="delivery__item-text">
          3.1. Підтвердженням повного та безумовного акцептування публічної
          оферти є внесення ним плати за замовлений Товар, що свідчить про
          прийняття ним публічної оферти.
        </p>
        <p class="delivery__item-text">
          3.2. Договір вважається укладеним без його подальшого підписання з
          моменту отримання Продавцем оплати Покупцем замовленого Товару, чи
          вчинення інших дій, передбачених Договором, що свідчать про згоду
          дотримуватися умов Договору, без підписання письмового примірника
          Сторонами.
        </p>
        <p class="delivery__item-text">
          3.3. Покупець дає згоду дотримуватися умов Договору та згоду отримати
          Товар на встановлених Продавцем умовах з моменту оплати замовленого
          Товару.
        </p>
        <p class="delivery__item-text">
          3.4. Укладаючи Договір, Покупець автоматично погоджується з повним та
          безумовним прийняттям положень Договору, Тарифів та всіх додатків, що
          є невід’ємною складовою частиною Договору.
        </p>

        <h5 class="delivery__item-text title">4. ПРЕДМЕТ ДОГОВОРУ</h5>
        <p class="delivery__item-text">
          4.1. Продавець зобов’язується на умовах та в порядку, визначених цим
          Договором, передати Товар на основі Замовлення, оформленого Покупцем,
          а Покупець зобов’язується на умовах та в порядку, визначених цим
          Договором, отримати Товар та сплатити Покупцю його вартість.
        </p>
        <p class="delivery__item-text">
          4.2. Моментом оплати вважається час надходження коштів на рахунок
          Продавця.
        </p>

        <h5 class="delivery__item-text title">
          5. ПОРЯДОК ОФОРМЛЕННЯ ЗАМОВЛЕННЯ
        </h5>
        <p class="delivery__item-text">
          Замовлення товару здійснюється такими способами:
        </p>
        <p class="delivery__item-text">
          5.1. За допомогою телефонного дзвінка, здійсненого за номерами
          телефону <a href="(032) 247-47-48">(032) 247-47-48</a>,
          <a href="0-670-100-170">0-670-100-170</a> з наступним особистим
          зверненням.
        </p>
        <p class="delivery__item-text">
          5.2. За допомогою електронної пошти
          <a href="mailto:ADMIN@EXPOSTAR.COM.UA">ADMIN@EXPOSTAR.COM.UA</a> форм
          зворотного зв'язку, розміщених на Сайті, з наступним особистим
          зверненням.
        </p>
        <p class="delivery__item-text">
          5.3. Шляхом особистого звернення на адресу м.Львів, вул. Шафарика
          2/23.
        </p>
        <p class="delivery__item-text">
          5.4. Продавець зобов'язаний надати інформацію, необхідну та достатню,
          з точки зору Покупця, для ухвалення ним рішення щодо купівлі товару.
        </p>
        <p class="delivery__item-text">
          5.5. Замовлення Продавцем приймаються у робочі дні без перерви,
          вихідні - субота, неділя.
        </p>
        <div class="delivery__item-text">
          <p class="delivery__item-text">
            5.6. Щоб оформити Замовлення через Сайт Покупцю необхідно:
          </p>
          <ul class="delivery__item-list delivery__item-text">
            <li>
              обрати Товари, що розміщені на Сайті, Додати їх почерзі в корзину,
              за необхідності змінити їх кількість, та натиснути «Оформити
              Замовлення»;
            </li>
            <li>
              заповнити дані у відповідній електронній формі замовлення, обрати
              спосіб оплати Товару;
            </li>
            <li>
              після закінчення замовлення вибрати функцію «Підтверджую
              замовлення».
            </li>
          </ul>
        </div>
        <p class="delivery__item-text">
          5.7. Замовлення вважається оформленим та прийнятим до виконання
          Продавцем:
        </p>
        <p class="delivery__item-text">
          5.7.1. після завершення Покупцем дій по оформленню замовлення на
          Сайті, менеджер Продавця у телефонному режимі або через меседжери
          зв’яжеться із Покупцем, за необхідності уточнить деталі замовлення, та
          підтвердить Покупцю про прийняття відповідного замовлення в роботу;
        </p>
        <p class="delivery__item-text">
          5.7.2. після здійснення Покупцем замовлення у телефонному режимі або
          шляхом особистого звернення, менеджер Продавця усно підтвердить
          Покупцю про прийняття відповідного замовлення в роботу.
        </p>
        <p class="delivery__item-text">
          5.7.3. У випадку, якщо менеджер Продавця не підтвердить Покупцю про
          прийняття відповідного замовлення в роботу, таке замовлення вважається
          неоформленим та не підлягає виконанню Продавцем.
        </p>
        <p class="delivery__item-text">
          5.8. Покупець несе повну відповідальність за правильність та
          достовірність даних, вказаних ним при оформленні замовлення.
        </p>
        <p class="delivery__item-text">
          5.9. Продавець зобов’язується надати Покупцю усю інформацію, що
          пов’язана з товарами, оформленням та виконанням замовлення, та є
          необхідною для здійснення вибору та оформлення замовлення.
        </p>

        <h5 class="delivery__item-text title">6. ДОСТАВКА ЗАМОВЛЕННЯ</h5>
        <p class="delivery__item-text">
          6.1. Товар доставляється Продавцем або залученими ним третіми особами.
          При неможливості зв’язатися з Покупцем за вказаним ним при здійсненні
          замовлення номером телефону, Замовлення вважається анульованим.
        </p>
        <p class="delivery__item-text">
          6.2. Доставка Товару здійснюється по всій Україні, однак може бути
          обмежена у зв’язку з відсутністю відповідних можливостей у третіх
          осіб, що надають послуги доставки, погодних умов, інших обставин не
          залежних від Покупця.
        </p>
        <p class="delivery__item-text">
          6.3. Доставка Замовлення Покупцеві здійснюється Продавцем на адресу,
          вказану у замовленні.
        </p>
        <p class="delivery__item-text">
          6.4. Право власності на Товар, а також ризик його випадкового
          пошкодження чи втрати переходять до Покупця з моменту передачі Товару.
        </p>
        <p class="delivery__item-text">
          6.5. При прийнятті Замовлення, Покупець зобов’язаний перевірити Товар
          на відповідність замовленому і цілісність упаковки. У разі відсутності
          претензій до доставленого Товару, Покупець підписує документи, що
          засвідчують факт прийняття товару Покупцем та відсутність жодних
          претензій щодо Товару.
        </p>

        <h5 class="delivery__item-text title">
          7. ЦІНА ТА ПОРЯДОК РОЗРАХУНКІВ
        </h5>
        <p class="delivery__item-text">
          7.1. Ціна Товару зазначається в національній валюті України – гривні.
        </p>
        <p class="delivery__item-text">
          7.2. Загальна вартість Замовлення складається з вартості усіх товарів,
          зазначених у підтвердженому менеджером Продавця замовленні Покупця, з
          урахуванням усіх податків та зборів. Вартість упакування не
          нараховується.
        </p>
        <p class="delivery__item-text">
          7.3. Загальна вартість замовлення повідомляється оператором кол-центру
          або менеджером Продавця Покупцеві при оформленні замовлення.
        </p>
        <p class="delivery__item-text">
          7.4. Оплата Товару здійснюється безготівковим розрахунком, шляхом
          внесення оплати на рахунок Продавця, або Кур’єрській службі, при
          доставці, якщо такий варіант оплати був узгоджений з Продавцем.
        </p>
        <p class="delivery__item-text">
          7.5. Оплата Товарів здійснюється в національній валюті України –
          гривні.
        </p>
        <p class="delivery__item-text">
          7.6. Продавець має право зупинити виконання замовлення та/або
          скасувати замовлення в односторонньому порядку у випадку невиконання
          або неналежного виконання Покупцем обов’язку з оплати Замовлення чи
          наявності заборгованості Покупця перед Продавцем.
        </p>
        <p class="delivery__item-text">
          7.7. Вартість та асортимент товарів на Сайті може бути змінена
          Продавцем на власний розсуд в будь-який час без необхідності
          повідомлення про це Покупця.
        </p>

        <h5 class="delivery__item-text title">8. ПОРЯДОК ПОВЕРНЕННЯ ТОВАРУ</h5>
        <p class="delivery__item-text">
          8.1. До порядку повернення Товару за цим Договором застосовуються
          норми Цивільного кодексу України, Закону України «Про захист прав
          споживачів», та інші норми чинного законодавства Україні, які
          регулюють такі правовідносини.
        </p>
        <p class="delivery__item-text">
          8.2. У разі відмови від Товару неналежної якості, вартість якого була
          сплачена Покупцем шляхом безготівкового розрахунку, Продавець вправі
          протягом 10-ти календарних днів узгодити з Покупцем заміну Товару, чи
          повернення коштів.
        </p>

        <h5 class="delivery__item-text title">8. ПРАВА ТА ОБОВ’ЯЗКИ СТОРІН</h5>
        <p class="delivery__item-text">
          8.1. За цим Договором Продавець бере на себе зобов’язання продати
          Товари, запропоновані до продажу на Сайті відповідно до оформленого
          належним чином Замовлення Покупця та умов цього Договору, а Покупець
          зобов’язується прийняти та оплатити замовлені ним Товари.
        </p>
        <p class="delivery__item-text">
          8.2. Умови цього Договору поширюється на всі Товари, що розміщені на
          Сайті на момент здійснення Замовлення Покупцем.
        </p>

        <p class="delivery__item-text">8.3. Продавець зобов’язується:</p>
        <ul class="delivery__item-list delivery__item-text">
          <li>продавати Товари, передбачені умовами даного Договору;</li>
          <li>забезпечити можливість замовлення та оплати Товарів;</li>
          <li>
            надавати консультації з питань користування Сайтом та оформлення
            Замовлення;
          </li>
        </ul>

        <p class="delivery__item-text">8.4. Продавець має право:</p>
        <ul class="delivery__item-list delivery__item-text">
          <li>
            відмовити у продажі та/або передачі замовлених Товарів у зв’язку з
            неналежним виконанням Покупцем своїх зобов’язань відповідно до
            даного Договору, або у зв’язку із відсутністю відповідного товару на
            складі Продавця;
          </li>
          <li>вносити зміни до даного Договору в односторонньому порядку;</li>
          <li>
            вносити зміни щодо інформації, розміщеної на Сайті в односторонньому
            порядку та на власний розсуд;
          </li>
          <li>
            залучати третіх осіб для виконання своїх зобов’язань перед Покупцем;
          </li>
          <li>
            змінювати умови та/або термін доставки Товарів Покупцю за умови
            повідомлення Покупця про такі зміни за вказаним ним при здійсненні
            замовлення номером телефону;
          </li>
        </ul>

        <p class="delivery__item-text">8.5. Покупець зобов’язується:</p>
        <ul class="delivery__item-list delivery__item-text">
          <li>дотримуватись умов даного Договору;</li>
          <li>
            прийняти Товар належної якості, який відповідає замовленню Покупця;
          </li>
          <li>
            повністю оплатити вартість Товару;– перевірити кількість та
            найменування замовлених Товарів при їх отриманні.
          </li>
        </ul>

        <p class="delivery__item-text">8.6. Покупець має право:</p>
        <ul class="delivery__item-list delivery__item-text">
          <li>
            вимагати від Продавця продажу Товарів у відповідності до умов даного
            Договору.
          </li>
        </ul>

        <h5 class="delivery__item-text title">9. ВІДПОВІДАЛЬНІСТЬ СТОРІН</h5>
        <p class="delivery__item-text">
          9.1. Кожна Сторона гарантує іншій Стороні, що володіє необхідною
          дієздатністю, а також всіма правами і повноваженнями, необхідними і
          достатніми для укладання і виконання цього Договору відповідно до його
          умов.
        </p>
        <p class="delivery__item-text">
          9.2. Всі умови Договору, викладені в цій Публічній оферті, є
          обов’язковими для Сторін.
        </p>
        <p class="delivery__item-text">
          9.3. У разі невиконання або неналежного виконання своїх зобов’язань за
          Договором Сторони несуть відповідальність, передбачену чинним
          законодавством та цим Договором.
        </p>
        <p class="delivery__item-text">
          9.4. У випадках, не передбачених цим Договором, Сторони несуть
          відповідальність, встановлену чинним законодавством України.
        </p>
        <p class="delivery__item-text">
          9.5. Продавець не несе відповідальності за шкоду, заподіяну Покупцеві
          внаслідок неналежного використання придбаних ним Товарів.
        </p>
        <p class="delivery__item-text">
          9.6. Покупець несе відповідальність за правильність внесених даних до
          форми Замовлення.
        </p>

        <h5 class="delivery__item-text title">
          10. КОНФІДЕНЦІЙНІСТЬ ТА ЗАХИСТ ПЕРСОНАЛЬНИХ ДАНИХ
        </h5>
        <p class="delivery__item-text">
          10.1. Покупець дає свою згоду Продавцю на збір, обробку, накопичення,
          зберігання та використання своїх персональних даних (ім’я, номер
          мобільного телефону та інші персональні дані), а також передання їх
          третім особам виключно з ціллю та в межах забезпечення Продавцем
          виконання обов’язків покладених на нього відповідно до умов Договору.
          Персональні дані Покупців збираються виключно з метою виконання умов
          цього Договору, дотримання норм у сфері регулювання податкових
          відносин, відносин у сфері бухгалтерського обліку та відносин у сфері
          реклами.
        </p>
        <p class="delivery__item-text">
          10.2. Продавець має право відправляти інформаційні, в тому числі
          рекламні повідомлення, на мобільний телефон Покупця. Покупець має
          право відмовитися від отримання рекламної та іншої інформації без
          пояснення причин відмови, направивши письмову заяву про відмову від
          отримання рекламної та іншої інформації Продавцю за адресою, вказаною
          на Сайті. Сервісні повідомлення, що інформують Покупця про замовлення
          і етапи його обробки, відправляються автоматично і не можуть бути
          відхилені Покупцем.
        </p>
        <p class="delivery__item-text">
          10.3. Продавець не несе відповідальності за відомості, надані Покупцем
          на Сайті в загальнодоступній формі.
        </p>
        <p class="delivery__item-text">
          10.4. Продавець вправі здійснювати записи телефонних розмов з
          Покупцем, попередньо повідомивши Покупця про такий запис. При цьому
          Продавець зобов’язується: запобігати спробам несанкціонованого доступу
          до інформації, отриманої в ході телефонних переговорів, та/або
          передачу її третім особам, які не мають безпосереднього відношення до
          виконання Замовлень.
        </p>

        <h5 class="delivery__item-text title">11. СТРОК ДІЇ ДОГОВОРУ</h5>
        <p class="delivery__item-text">
          11.1. Цей Договір вважається укладеним в момент завершення оформлення
          замовлення Покупцем та підтвердження прийняття замовлення до виконання
          Продавцем та діє до повного виконання Сторонами всіх своїх зобов’язань
          за цим Договором.
        </p>

        <h5 class="delivery__item-text title">12. АВТОРСЬКІ ПРАВА</h5>
        <p class="delivery__item-text">
          12.1. Уся текстова інформація та графічні зображення, що розміщені на
          Сайті є власністю Продавця та не може використовуватись у спосіб, що
          заборонений або не передбачений чинним законодавством України.
        </p>

        <h5 class="delivery__item-text title">13. ДОДАТКОВІ УМОВИ</h5>
        <p class="delivery__item-text">
          13.1. Продавець вправі переуступати або яким-небудь іншим способом
          передавати свої права та обов’язки, що випливають з його відносин з
          Покупцем, третім особам.
        </p>
        <p class="delivery__item-text">
          13.2. Сайт може бути тимчасово частково або повністю недоступний
          внаслідок проведення технічних, профілактичних або інших робіт, або з
          будь-яких інших причин технічного характеру.
        </p>
        <p class="delivery__item-text">
          13.3. У випадку встановлення особливих умов стосовно асортименту,
          вартості Товарів, інших умов замовлення у зв’язку з проведенням акцій,
          тощо – такі дії не будуть вважатися порушенням п. 2 ст. 633 Цивільного
          кодексу України.
        </p>

        <p class="delivery__item-text">
          13.4. Оформляючи замовлення незалежно від способу оформлення (усно по
          телефону чи в електронній формі на Сайті) Покупець підтверджує
          наступне:
        </p>
        <ul class="delivery__item-list delivery__item-text">
          <li>
            Покупець ознайомлений з умовами цієї пропозиції (оферти) укласти
            Договір та акцептує їх у повній мірі та беззастережно;
          </li>
          <li>
            Покупець ознайомлений та погоджується з асортиментом та вартістю
            Товарів, умовами їх оплати та доставки, іншими умовами
            купівлі-продажу Товарів, зазначеними на Сайті;
          </li>
          <li>
            Усі надані Покупцем при оформленні замовлення дані (перелік Товарів,
            свої персональні дані, адресу доставки, номер телефону тощо) є
            актуальними та повними. Покупець надав усі необхідні деталі
            замовлення стосовно асортименту, кількості Товарів, тощо, які мав
            намір надати, під час оформлення замовлення. Внесення змін до
            замовлення або відмова від замовлення після його підтвердження не
            допускається.
          </li>
        </ul>

        <h5 class="delivery__item-text title">14. ПРИКІНЦЕВІ ПОЛОЖЕННЯ</h5>
        <p class="delivery__item-text">
          14.1. Продавець підтверджує, що є платником податку на прибуток на
          загальних умовах за ставкою, передбаченою Податковим кодексом України.
        </p>
        <p class="delivery__item-text">
          14.2. Укладаючи цей Договір, Покупець автоматично погоджується з
          повним та безумовним прийняттям положень Договору і Тарифів,
          затверджених Продавцем, та інших умов, оприлюднених на Сайті.
        </p>
        <p class="delivery__item-text">
          14.3. Цей Договір є публічним відповідно до статей 633, 641 Цивільного
          кодексу України і його умови однакові для всіх Покупців. Прийняття
          умов цього Публічного договору (акцепт) є повним і беззастережним і
          означає згоду Покупця з усіма умовами Договору без виключення і
          доповнення.
        </p>
        <p class="delivery__item-text">
          14.4. Акцептування публічної оферти Покупцем надає Продавцю дозвіл на
          збір та обробку його персональних даних для цілей та в межах,
          визначених законодавством України. Продавець вправі здійснювати
          обробку персональних даних Покупців самостійно, так і доручивши її
          розпоряднику бази персональних даних.
        </p>

        <h5 class="delivery__item-text title">15. РЕКВІЗИТИ Продавця</h5>
        <div class="delivery__item-text">
          <p><b>Фізична особа-підприємець ГРЕЧКО ВІКТОРІЯ ДМИТРІВНА</b></p>
          <p>"п/р UA653052990000026006011025208 у банку АТ КБ "ПриватБанк",</p>
          <p>Україна, 79032, м. Львів, вул. Шафарика, будинок № 2/23,</p>
          <p>код за ЄДРПОУ 3866404120</p>
          <p>
            тел.: <a href="(032) 247-47-48">(032) 247-47-48</a>,
            <a href="0670100170">0670100170</a>
          </p>
        </div>
      </div>

      <div class="delivery__item">
        <h4 class="title delivery__item-title">
          Якщо у вас залишились питання, пишіть нам support@ dunlopboots.com
        </h4>
      </div>
    </div>
  </div>
</section>
{% endblock content %} {% block scripts %}
<script src="/static/source/pages/delivery/index.js"></script>
{% endblock scripts %}
