<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/source/pages/privacy_policy/index.css"
    />
  </head>
  <body>
    <section class="privacy-policy"></section>
    <section class="delivery">
      <a class="go-back-btn delivery__go-back-btn" href="{{prev_url}}">
        Вернутися
      </a>
      <div class="delivery__center">
        <h2 class="title delivery__title">Політика конфіденційності</h2>
        <div class="delivery__items">
          <div class="delivery__item">
            <p class="delivery__item-text">
              Ця Політика конфіденційності описує наші положення та процедури зі
              збору, використання та розкриття вашої інформації при використанні
              послуги та повідомляє вам про ваші права щодо конфіденційності та
              те, як закон захищає вас.
            </p>
          </div>

          <div class="delivery__item">
            <p class="delivery__item-text">
              Ми використовуємо ваші особисті дані для надання послуг та їх
              покращення. Користуючись послугою, ви погоджуєтеся зі збором та
              використанням інформації відповідно до цієї Політики
              конфіденційності. Ця Політика конфіденційності була створена за
              допомогою генератора політики конфіденційності.
            </p>
          </div>

          <div class="delivery__item">
            <p class="delivery__item-text"><b>Тлумачення та визначення</b></p>
            <p class="delivery__item-text"><b>Тлумачення</b></p>
            <p class="delivery__item-text">
              Слова, починаючи з великої літери, мають визначення за наступних
              умов. Наведені нижче визначення мають однаковий зміст незалежно
              від того, чи вони зустрічаються в однині чи множині.
            </p>
          </div>

          <div class="delivery__item">
            <p class="delivery__item-text"><b>Визначення</b></p>
            <p class="delivery__item-text">
              Для цілей цієї Політики конфіденційності:
            </p>
            <p class="delivery__item-text">
              <b>Акаунт</b> означає унікальний обліковий запис, створений для
              вас для доступу до нашої служби чи частин нашої служби.
            </p>
            <p class="delivery__item-text">
              <b>Афілійований партнер</b> - це суб'єкт, який контролюється,
              контролює або перебуває під спільним контролем з стороною, де
              "контроль" означає володіння 50% чи більше акцій, еквіті інтересів
              або інших цінних паперів, які мають право голосу на виборах
              директорів або іншої управлінської влади.
            </p>
            <p class="delivery__item-text">
              <b>Компанія</b> (зазначається як "Компанія", "Ми", "Наш" чи "Наші"
              у цьому Договорі) вказує на ТОВ "ВИМПЕЛГРУП", ВУЛ. ПРОМИСЛОВА 54
              ЛЬВІВ, 79024 УКРАЇНА.
            </p>
            <p class="delivery__item-text">
              <b>Файли cookie</b> - це невеликі файли, які розміщаються на
              вашому комп'ютері, мобільному пристрої або будь-якому іншому
              пристрої веб-сайтом, які містять деталі вашого історії перегляду
              на цьому веб-сайті серед інших своїх багатьох використань.
            </p>
            <p class="delivery__item-text">Країна вказує на: Україну</p>
            <p class="delivery__item-text">
              <b>Пристрій</b> - це будь-який пристрій, який може мати доступ до
              Служби, такий як комп'ютер, мобільний телефон або цифровий
              планшет.
            </p>
            <p class="delivery__item-text">
              <b>Особисті дані</b> - це будь-яка інформація, яка стосується
              ідентифікованої або ідентифікованої фізичної особи.
            </p>
            <p class="delivery__item-text">Служба вказує на веб-сайт.</p>
            <p class="delivery__item-text">
              <b>Надавач послуг</b> означає будь-яку фізичну або юридичну особу,
              яка обробляє дані від імені Компанії.
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="/static/source/pages/privacy_policy/index.js"></script>
  </body>
</html>
