.advances {
    margin-top: 50px;

    &__items {
        @media (max-width: 500px) {
            margin-top: 30px;
        }
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    // &__item {
    //     img {
    //         width: 102px;
    //         height: 133px;
    //     }
    // }
}